.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
companionSystem/**
esbuild.js
eslint.config.mjs
tsconfig.json
.gitmodules
.git/**
resources/*.sketch
results/**
tmp/**
